<h1 class="text-center text-white">Details</h1>
<div class="card text-white w-50 mx-auto" style="background-color:dodgerblue; border-color:darkcyan;">
  <div class="card-body">
    <h4 class="card-title text-center">Name:{{p.name}}</h4>
    <p class="card-text text-center">Id:{{p.id}}</p>
    <p class="card-text text-center">Project Manager:{{p.projectmanager}}</p>
    <p class="card-text text-center">Reporting Head:{{p.reportinghead}}</p>
    <p class="card-text text-center">Department: {{p.department}}</p>
  </div>
</div>
